html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

a,
abbr,
acronym,
address,
applet,
big,
blockquote,
body,
caption,
cite,
code,
dd,
del,
dfn,
div,
dl,
dt,
em,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
iframe,
img,
ins,
kbd,
label,
legend,
li,
object,
ol,
p,
pre,
q,
s,
samp,
small,
span,
strike,
strong,
table,
tbody,
td,
tfoot,
th,
thead,
tr,
tt,
ul,
var {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

a,
button,
div,
input,
label,
select,
span,
strong,
textarea {
    outline: 0;
}

::placeholder,
body,
button,
input,
select,
textarea {
    // 'Noto Sans JP', 'Noto Sans KR',
    font-family: 'Apple SD Gothic Neo', 'Helvetica Neue', 'Helvetica',
        'NanumBarunGothic', 'Meiryo UI', 'Malgun Gothic', 'Segoe UI', 'Arial', sans-serif;
    text-rendering: optimizeLegibility;
}

body {
    background: #333;
    line-height: 1;
    overflow: hidden;
    user-select: none;
}

::-webkit-scrollbar {
    width: 16px;
    height: 16px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
    border: 4px solid transparent;
    border-radius: 8px;
    background-clip: padding-box;
}

::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.4);
}
